.Tweet {
    display: inline-block;
    width: 350px;
    min-height: 50px;
    background-color: #ffffff;
    color: #0f150f;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    margin: 5px;
    padding-bottom: 20px;
    border-color: #D3D3D3;
    border-style: solid;
    border-width: thin;
    border-radius: 3px;


}

.QuoteTweet {
  display: inline-block;
  width: 300px;
  min-height: 35px;
  background-color: #ffffff;
  color: #0f150f;
  padding: 10px;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  margin: 5px;
  margin-top: 10px;
  padding-bottom: 20px;
  border-color: #D3D3D3;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  overflow-y: hidden;
}

.username {
  font-weight: bold;
  display: inline-block;
  width: 100%;
  margin: 0;
}

.date {
  font-weight: lighter;
}

.ActiveTweet {
  border-color: rgb(29, 155, 240);
  border-style: solid;
  border-width: thin;
}

.tweetHeader {
  margin-bottom: 5px;
}
